<p style="color: green"><%= notice %></p>

<div style="justify-items: center;" class="page">

  <div class="top-banner">
    <h1>The Tech Chronicle</h1>
        <% @networks.each do |key, value| %>
          <%= link_to "#{key}", value %>
        <% end %>
  </div>
  <section class="left">
    <div id="articles">
    <% @articles.each do |thumb| %>
      <%= render thumb %>
    <% end %>
  </div>
  </section>


  <div id="articles">
    <% @articles.each do |article| %>
      <%= render article  %>
    <% end %>
  </div>
</div>
