<p style="color: green"><%= notice %></p>

<div style="justify-items: center;" class="page">
  <div class="top-banner">
    <h1>Daily Feed</h1>
  </div>


  <div id="articles">
    <% @articles.each do |article| %>
      <%= render article  %>
      <p>
        <%= link_to "Show this article", article %>
      </p>
    <% end %>
  </div>

  <%= link_to "New article", new_article_path %>
</div>
