<style>
	footer {
		padding: 15px;
		border-top: 5px solid transparent;
		border-image: linear-gradient(90deg, rgba(36, 27, 0, 1) 0%, rgba(222, 152, 63, 1) 22%, rgb(145, 145, 145) 91%);
		border-image-slice: 1;
	}
</style>

<footer>
    <h1>
		<%= link_to "Pixel Wave", "/" %>
	</h1>
		<%= render partial: "layouts/footer/category-list" %>
</footer>