<h1>Test#index</h1>
<p>Find me in app/views/test/index.html.erb</p>

<%= render partial: "main_page/thumb", locals: { article: @article } %>

<%= render partial: "main_page/full", locals: { article: @article } %>

