
<div style="justify-items: center;" class="page">
  <section class="top-banner">

    <h1>The Tech Chronicle</h1>
      <% @networks.each do |key, value| %>
        <%= link_to "#{key}", value %>
      <% end %>
  </section>

  <div class="page-articles">

    <div class="vertical">
      <% @articles.each do |article| %>
        <%= render partial: "thumb", locals: { article: article } %>
      <% end %>
    </div>

    <div class="">
      <% @articles.each do |article| %>
        <%= render partial: "full", locals: { article: article } %>
      <% end %>
    </div>

  </div>
</div>