
<div style="justify-items: center;" class="page">

  <section class="top-banner">

    <h1>The Tech Chronicle</h1>
      <% @networks.each do |key, value| %>
        <%= link_to "#{key}", value %>
      <% end %>
  </section>

  <div class="page-articles">

    <div class="left">
      <div class="articles">
        <% @articles.each do |article| %>
          <%= render partial: "thumb", locals: { article: article } %>
        <% end %>
      </div>
    </div>

    <div class="main">
      <div class="articles">
        <% @articles.each do |article| %>
          <%= render article  %>
        <% end %>
      </div>
    </div>

  </div>
</div>