/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/


/*
 *= require font-awesome
 */
/* page wide styles */
a {
    text-decoration: none;
    color: inherit
}

.left {
    max-height: 500px;
    width: 500px;
    margin: 15px;
    display: inline-block;
    border-right: solid 2px black;
}

.main {
    width: 30%;
    display: block;
}

.top-banner {
    width: 100%;;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: white;
    text-shadow: 0 0 3px #f1e775;
    justify-items: center;
    text-decoration-line: underline;
    background: rgb(36,27,0);
    background: linear-gradient(90deg, rgba(36,27,0,1) 0%, rgba(222,152,63,1) 22%, rgb(255, 255, 255) 91%);
    width: 100%;
    padding: 15px;
}

.page {
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
}

.page-articles {
    display: inline-flex;
}
