.vertical {
    width: min-content;
    width: 600px;
}

.categories-section, .search-section {
    justify-self: center;
    overflow: scroll;
    margin: 25px;
    background-color: white;
    .category-heading {
        color: white;
        text-align: center;
        text-transform: capitalize;
        font-size: 1.5rem;
        width: 100%;
        border-bottom-right-radius: 20px;
    }
}

.categories-section .category {
    color: black;
}

.category-tab .category {
    border-right: 2px solid blue;
}

[class*="category-heading"] {
    color: black;
}

.category-heading-lifestyle:hover {

    color: green;
}

.category-heading-tech:hover {
    color: darkblue
}

.category-heading-video:hover {
    color: darkgoldenrod
}

.category-heading-books:hover {
    color: brown;
}

.category-heading-comics:hover {
    color: darkred;
}

.category-heading-entertainment:hover {
    color: darkmagenta
}

.category-heading-movies:hover {
    color: darkcyan
}

.category-heading-video-games:hover {
    color: rgb(36, 81, 172)
}

.category-heading-science:hover {
    color:steelblue
}

.main-section {
    margin: 25px;
    background-color: white;
    overflow: scroll;
}

.page-articles {
    height: 1000px;
}

.category-list-view {
    justify-self: center;
}

.author-container {
    display: inline-flex;
}

.author-info {
    width: 33%;
}

.search-section {
    height: 50%;
    .categories-section.category-list-view {
        height: 100%;
    }
}

.page-articles {
    width: 100%;
}