.author-box {
    font-weight: bold;
    padding: 5px;
    border-top: 2px solid lightgray;
}

.image-box {
    border: 1px solid grey;
    padding: 5px;
}

.caption {
    justify-self: center;
    color: lightgray;
}

.author {
    width: 150px;
    height: 150px;
}

.top-image {
    display: block;
    object-fit: cover;
    width: 500px;
    height: 300px;
}

.top-banner {
    width: 100%;;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #333; 
    justify-items: center;
    text-decoration-line: underline;
}