.author-box {
    font-weight: bold;
    padding: 5px;
    border-top: 2px solid lightgray;
}

.image-box {
    border: 1px solid grey;
    padding: 5px;
    background-color: white
}

.caption {
    justify-self: center;
    color: lightgray;
}

.author {
    width: 150px;
    height: 150px;
}

.top-image {
    display: block;
    object-fit: cover;
    width: 500px;
    height: 300px;
}

.top-banner {
    width: 100%;;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    color: #333; 
    justify-items: center;
    text-decoration-line: underline;
    color: #333;
    background: rgb(36,27,0);
    background: linear-gradient(90deg, rgba(36,27,0,1) 0%, rgba(222,152,63,1) 22%, rgba(234,251,255,1) 91%);
    width: 100%;
    justify-items: center;
    padding: 15px;
}

.page {
    background-image: radial-gradient(black 1px, transparent 0);
    background-size: 40px 40px;
    background-position: -19px -19px;
}

[id*="article_"] {
    background-color: rgb(241, 233, 210);
    padding: 5px;
}