.thumb {
    width: 94%;
    vertical-align: top;
    justify-items: left;
    display: inline-flex;
    border-radius: 5px;
    border-bottom-right-radius: 100px;
    border-bottom: 10px solid coral;
    .image-box {
        flex-basis: fit-content;
        img {
            max-width: 150px;
            max-height: 150px;
        }
    }

    .article-heading {
        font-size: 1rem;
        width: 100%;
    }

    .text-box {
        margin: 5px;
        margin-left: 15px;
        inline-size: fit-content;
    }
}
