
<div class="category-tab">
    <% cats.each do |category| %>
        <div class="category">
            <%= link_to category.name, "/category/#{category.name}" %>
        </div>
    <% end %>
</div>
